.aboutus-text {
    margin: 4rem 10rem ;
  }

  .aboutus-text p {
    margin-bottom: 1rem;
  }

  .aboutus-title {
    font-size: xx-large;
    margin-top: 2rem;
  }

  @media screen and (max-width: 700px) {
    .aboutus-text {
      margin: 4rem 5rem;
    }
  }

  @media screen and (max-width: 450px) {
    .aboutus-text {
      margin: 4rem 2rem;
    }
  }