.single-order-container {
    position: relative;
}

/* cancelled order div */

.inactive {
    display: none;
}

.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.308);
    display: flex;
    justify-content: center;
    align-items: start;
}

.active h1 {
    font-size: 10rem;
    transform: rotate(-30deg);
    margin-top: 20rem;
    opacity: 0.5;
}