.single-order-container {
    position: relative;
}

/* cancelled order div */

.inactivate {
    display: none;
}

.activate {
    position: absolute;
    margin-top: -2rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 108.5%;
    background-color: rgba(0, 0, 0, 0.191);
    display: flex;
    justify-content: center;
    align-items: start;
}

.activate h1 {
    font-size: 5rem;
    transform: rotate(-30deg);
    margin-top: 8rem;
    opacity: 0.2;
}

.order-info-container {
    margin-top: 2rem;
}

.order-info-container h2 {
    font-size: x-large;
    margin-bottom: 0.5rem;
}

.order-info-container span {
    color: green;
}

.product-address-container {
    margin: 2rem 3rem 3rem 3rem;
    display: flex;
    flex-direction: column;
}

.product-address-container h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

.address-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.billing-address-container {
    margin-bottom: 1rem;
}

.product-order-container {
    margin: 0 5rem;
    display: grid;
    grid-template-columns: 20rem, 1fr;
    grid-gap: 1rem;
}

.content-cell-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.content-cells {
    display: flex;
    justify-content: center;
}

.content-cells div:first-child {
    margin-right: 1rem;
}

.content-cells > a > div > img {
    height: 5rem;
}

.cells-info {
    display: flex;
    flex-direction: column;
}

.cells-info p {
    text-align-last: left;
    margin-top: 0.2rem;
}

.address-container > div > h5 {
    margin-bottom: 0.5rem;
    font-size: large;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .products-container {
        margin: 0;
    }
    
}