.products-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-btns {
    display: flex;
    flex-wrap: wrap;
}

.option-btn-search {
    margin: 1rem 0.2rem;
    transition: 0.3s ease-in-out;
}

.products-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    gap: 1rem;
    margin-top: 3rem;
    transition: 0.3s ease-in-out;
}

/*  card items from grid */

.product-card {
    height: 20rem;
    width: 15rem;
    overflow: hidden;
    border: 0.1rem solid rgb(184, 175, 175);
    border-radius: 1.3rem;
    box-shadow: 0.2rem 0.2rem 0.5rem rgb(184, 175, 175);
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}

.product-card:hover {
    cursor: pointer;
    box-shadow: 0.1rem 0.1rem 1rem rgb(148, 144, 144);
    transition: 0.3s ease-in-out;
}

.card-image {
    align-self: center;
}

.card-image img {
    /* margin-top: 1rem; */
    height: 13rem;
}

.product-card-info {
    margin: 2rem 0 0 1rem;
    color: black;
    font-size: x-large;
}

.product-card-info p:last-of-type {
    margin-top: 0.6rem;
    color: rgb(92, 92, 92);
    font-weight: 100;
    font-size: 1rem;
}


@media screen and (min-width: 1024px) {
    .products-display {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: row;
        gap: 2rem;
        margin-top: 3rem;
        transition: 0.3s ease-in-out;
    }
}

@media screen and (max-width: 550px) {
    .product-card {
        width: 10rem;
    }

    .option-btn-search {
        margin: 0.2rem 0.2rem;
        transition: 0.3s ease-in-out;
    }

}