nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

nav > a {
    color: black;
}

.menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1rem;
}
  
#logo {
    max-width: 20rem;
    margin: 1rem 0 0.7rem 1.5rem;
}
  
.menuppal ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
.menuppal li {
    margin-right: 1rem;
}
  
.hamburger {
    display: none;
}

.basket {
    position: relative;
    height: 2.3rem;
}

.basket-amounth {
    position: absolute;
    top: 0.3rem;
    right: 1.3rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 105, 105);
    z-index: 10;
}

.basket-amounth p {
    color: black;
}



/* ipad and mobile view starts here */
@media screen and (max-width: 1024px) {
    /* displaying the hamburguer menu */
    .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        background-color:transparent; 
        margin-right:0.8rem;
    }

    .rotate-show {
        transform: rotate(180deg);
        transition: transform 0.5s ease-in-out;
    }
    .rotate-hide { 
        transform: rotate(-180deg);
        transition: transform 0.5s ease-in-out;
    }

    /* _layer will print the lines that creates the hamburguer menu itself */
    ._layer{
        background:#333333;
        margin-bottom: 4px;
        border-radius: 2px;
        width: 28px;
        height: 4px;
        opacity: 1;
    }

    .basket {
        position: relative;
        height: 1.8rem;
        margin-right:0.8rem;
    }

    .basket-amounth {
        top: 0.3rem;
        right: 2rem;
        height: 1.2rem;
        width: 1.2rem;
    }

    .menu-container { 
        display: flex;
        flex-direction: row-reverse;
    }

    .menuppal {
        display: none;
        width: 20rem;
        height: 28rem;
    }
    
    .active {
        background-color: rgba(255, 255, 255, 0.8);
        display: block;
        position: absolute;
        top: 100%;
        right: -1%;
        /* Dunno why the transition is not working - could be on the wrong place? */
        transition: 0.3s ease-in-out; 
    }

    .active ul{
        margin-top: 1.5rem;
        width: 20rem;
        height: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .active ul li{ 
        font-size: x-large;
    }
}