.profilecard {
    /* display: flex; */
    /* align-self: center; */
    width: 90vw;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 0 auto;
}

.profilecard h2 {
    margin-bottom: 20px;
    color: #333; 
}

.profilecard div {
    margin-bottom: 10px; 
}

.profilecard h4 {
    margin-bottom: 5px; 
    color: #666;
}

/* .paragraph-left {
    text-align: left !important;
} */

p.paragraph-left {
    text-align: left;
}

.left-align {
    text-align: start;
}

.profile-pic {
    width: 13rem;
    /* height: 100%; */
    position: absolute;
    top: 12rem;
    right: 11rem;
}

@media screen and (max-width: 600px) {
    .profile-pic{
        position: absolute;
        top: 12rem;
        right: 1rem;
    }
    
}

