
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5; 
  text-align: center;
}

h1.title {
  font-size: 3rem;
  font-weight: 900;
  padding: 1.5rem;
  color: white;
  text-wrap: wrap;
}

a {
  color: #1a0dab;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #0d0759;
}

button {
  color: white !important;
  background-color: #6750A4 !important;
  border-radius: 2rem !important;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 12px 24px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  border-color: rgb(102, 109, 247);
}
button:focus,
button:focus-visible {
outline: 4px auto -webkit-focus-ring-color;
}

.space-between-btns {
  margin-right: 1rem;
}

form {
  padding: 3rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

#search {
  width: 100% !important;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
label,
textarea {
  width: 70%;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc; 
  border-radius: 8px;
}

input[type="search"] {
  background-color: white;
  font-size: 16px;
  padding: 1rem;
  border: 1px solid rgb(103, 80, 164);
  border-radius: 1.5rem;
  width: 100%; 
}

hr {
  width: 90vw;
  color: #E3E3E3;
}

article {
  padding: 2rem
}

.hero {
  background-image: url(/public/bk-christmas.jpg);
  background-size: cover;
  height: 100vh; 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 2rem;
  background-attachment: fixed;
  background-position: center;
  /* padding: 50% 0; */
  /* display: flex; */
  /* justify-content: center; */
}

.card {
  text-align: left !important;
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: flex-start;
  margin: 0 auto;
  width: 80vw;
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid #f0ebeb;
  box-shadow: 2px 2px 8px 0px rgba(227, 228, 230, 0.5);
  margin-bottom: 2rem;
  /* background-color: rgba(74, 134, 150, 20%); */
}

.out-bg {
  position: absolute;
  top: -3.5rem;
  right: 5%;
  z-index: 1;
}

.card > p {
  width: 75%;
}

.primary {
  
}

.flexcontainer {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.secondary {
  color: #6750A4 !important;
  background-color: white !important;
  border: solid 1px #6750A4;
  border-radius: 2rem;
}

.text-container-bg{
  background-color: rgba(51, 50, 50, 0.3);
  border-radius: 8px;
}

/* loading div */

.loading-div {
  height: 50vh;
  width: 100wh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-div p {
  font-size: xx-large;
}

.container-article {
  padding: 1rem;
  margin: 0 auto;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.bullet-cards {
  width: 21rem;
  height: auto;
  padding: 1.2rem;
  margin: 2rem 0;
  background-color: white;
  border: solid 2px #f0ebeb;
  border-radius: 8px;
  box-shadow: 2px 2px 8px 0px rgba(227, 228, 230, 0.5);
  display: flex; 
  flex-direction: column;
}

.bullet-cards h4,
.bullet-cards p,
.bullet-cards div {
  flex: 1; 
}
.card:hover, .bullet-cards:hover {
  box-shadow: 4px 4px 12px 0px rgba(227, 228, 230, 1);
  border: solid 2px #e0dfdf;
}

.auth-form {
  width: 60vw;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: solid 2px #f0ebeb;
  border-radius: 12px;
  box-shadow: 2px 2px 8px 0px rgba(227, 228, 230, 0.5);
  padding: 2rem;
}

.chip {
  background-color: white;
  border-color: #6750A4;
}