body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; 
}

h1 {
  font-size: 24px;
}

a {
  color: #1a0dab;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #0d0759;
}

button {
  color: white !important;
  background-color: #6750A4 !important;
  border-radius: 2rem !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 12px 24px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

form {
  padding: 3rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

form > label {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc; 
  border-radius: 8px;
}

input[type="search"] {
  background-color: #ecd1f0;
  font-size: 16px;
  padding: 1rem;
  border: 1px solid #ecd1f0;
  border-radius: 1.5rem;
  width: 100%; 
}

.hero {
  background-image: url('../public/bk-christmas.jpg');
  background-size: cover;
  height: 1000px;
}

.primary {
  
}

.secondary {
  color: #6750A4 !important;
  background-color: white !important;
  border: solid 1px #6750A4;
  border-radius: 2rem;
}

/* loading div */

.loading-div {
  height: 50vh;
  width: 100wh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-div p {
  font-size: xx-large;
}